@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Grotesk", sans-serif;
  background: #16110E;
  color: #F5F5F5;
  height: 100dvh;
}

section {
  background: linear-gradient(to bottom, rgba(6, 18, 30, 0.044), #0D0A08), url("../img/leather-texture-backgrond.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

img {
  max-width: 100%;
  max-height: 100%;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: #F5F5F5;
  letter-spacing: 1px;
}

span {
  color: #efc330;
}

.container {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.btn-primary {
  font-size: 24px;
  text-align: center;
  background: #075E54;
  border-radius: 24px;
  padding: 0.5rem 1.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.4s ease;
}

.btn-primary:hover {
  background: #C9A227;
  color: #0D0A08;
}

.cards {
  display: grid;
  grid-template-columns: auto;
  gap: 1rem;
  margin-bottom: 3rem;
}

.card {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 10px;
}
.card .img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 80px;
  overflow: hidden;
  border-radius: 45%;
  grid-column: 1;
  grid-row: 1/span 2;
}
.card h3 {
  grid-column: 2;
  grid-row: 1;
}
.card p {
  grid-column: 2;
  grid-row: 2;
  opacity: 0.9;
}

header {
  position: relative;
  background: #0D0A08;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #C9A227;
}

header.active {
  border: none;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.logo {
  letter-spacing: 1.5px;
  font-weight: 600;
  font-size: 1.7rem;
}
.logo a {
  color: #C9A227;
}

.hamburger {
  width: 40px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: none;
  cursor: pointer;
  background: none;
}
.hamburger .bar {
  height: 3px;
  width: 100%;
  background: #fff;
  border-radius: 2px;
  transition: transform 0.4s ease 0.1s, background 0.4s ease, opacity 0.2s ease-in;
}

h1 {
  letter-spacing: 1px;
}

.menu {
  padding: 15px 0;
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  gap: 2rem;
  font-size: 1.325rem;
  font-weight: 500;
  transition: opacity 0.1s ease, transform 0.1s ease-in-out 0.1s;
}
.menu .nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  list-style: none;
  transition: all 0.4s ease;
}

.hamburger.active .bar {
  background: red;
}
.hamburger.active .bar1 {
  transform: rotate(-45deg) translateY(10px);
}
.hamburger.active .bar2 {
  opacity: 0;
}
.hamburger.active .bar3 {
  transform: rotate(45deg) translateY(-8px);
}

.menu.active {
  background: #0D0A08;
  opacity: 1;
  visibility: visible;
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
  .menu {
    opacity: 1;
    flex-direction: row;
    position: static;
    visibility: visible;
    padding: 0;
    transform: translateY(0);
    width: auto;
  }
  .menu .nav-links {
    flex-direction: row;
  }
}
.hero {
  background: linear-gradient(to bottom, rgba(6, 18, 30, 0.044), #16110E), url("../img/background-hero-barbearia-alfa.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero h1 {
  font-size: 3rem;
  font-weight: 500;
  max-width: 352px;
}
.hero p {
  font-size: 22px;
  max-width: 345px;
}
.hero .hero-stats {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  color: #C9A227;
  height: 70px;
  width: 100%;
  letter-spacing: 1.5px;
  gap: 0.5rem;
}
.hero h2 {
  font-size: 2.5rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: start;
}
.hero h3 {
  text-transform: uppercase;
  text-align: start;
}
.hero ul {
  list-style: none;
}
.hero ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.vertical-line {
  width: 2px;
  height: 50%;
  background: #efc330;
  border-radius: 100%;
}

.results {
  background: linear-gradient(to bottom, #0D0A08, rgba(6, 18, 30, 0.044)), url("../img/leather-texture-backgrond.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.results h2 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 3rem;
}

.interests {
  background: linear-gradient(to bottom, #0D0A08, rgba(6, 18, 30, 0.044)), url("../img/leather-texture-backgrond.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.interests h2 {
  font-size: 1.7 rem;
  letter-spacing: 2px;
  font-weight: 600;
  margin-bottom: 1rem;
  opacity: 0.9;
}
.interests p {
  opacity: 0.8;
  margin-bottom: 1rem;
}
.interests .img-container {
  grid-row: 1/span 2/span 3;
}
.interests .card {
  border: 1px solid #F5F5F5;
  padding: 10px;
  background: rgba(0, 0, 0, 0.322);
  gap: 6px;
}
.interests cite {
  grid-column: 2;
  text-align: end;
  color: #C9A227;
}

.impact {
  position: relative;
  overflow: hidden;
  z-index: 99;
}
.impact h2 {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: justify;
  text-transform: uppercase;
}
.impact p {
  font-size: 16px;
  opacity: 0.9;
}
.impact .left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 99;
}
.impact .rigth {
  position: absolute;
  bottom: 0;
  right: 0;
}

.impact::before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, #0D0A08, rgba(0, 0, 0, 0.05));
  z-index: 1;
}

footer {
  background: linear-gradient(to bottom, #0D0A08, rgba(6, 18, 30, 0.044)), url("../img/leather-texture-backgrond.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.footer-media {
  text-align: center;
}
.footer-media ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem 0;
  list-style: none;
}
.footer-media ul li a {
  font-size: 24px;
  color: #efc330;
  transition: all 0.5s ease;
}
.footer-media ul li a :hover {
  transform: translateY(-5px) scale(1.1);
}

.footer {
  text-align: center;
  padding: 1.5rem 0;
}

.copyrigth {
  background-color: #0D0A08;
}/*# sourceMappingURL=style.css.map */